.container.form-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

#justify-tab {
    width: 100px;
}

.container.form-children {
    padding: 10px 50px 50px;
    height: 500px;
    border: 2px solid;
    border-radius: 20px;
    width: 50%;
}

.Tabs-color {
    background-color: black;
}